*{
    margin: 0;
    padding: 0;
}
.pai{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(172, 172, 172);
}
.textoum{
    text-align: center;
    width: 1000px;
    height: 250px;
    margin: 50px;
    background-color: rgb(49, 49, 49);
    padding: 20px;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 25px;
    
    color: rgb(255, 255, 255);
}
.textodois{
    width: 1000px;
    height: 250px;
    overflow-y: scroll;
    background-color: rgb(49, 49, 49);
    padding: 20px;
    margin: 50px;
    font-size: 20px;
    border: 5px solid red;
    color: rgb(255, 255, 255);
}